@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --radius: 0.75rem; 
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --popover: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%; /* Purpleish */
    --primary-foreground: 210 20% 98%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 262.1 83.3% 57.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-dark-bg-secondary text-foreground;
  }
}

/* For gradient text */
.text-gradient-purple-pink {
  @apply bg-gradient-purple-pink text-transparent bg-clip-text;
}

